.ui-float-label{
    padding-bottom: 10px;
}

div.msgError{
    margin-top: -8px;
    margin-bottom: 0px;
    margin: 0 3px 0px 0;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
    color: red;
}

label.nomeCampo{
    color: red;
}

input.ng-valid{
    border: 1px solid green;
}

#msgTransition{
    /* display: none; */
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 2s;
}