  <!-- <div *ngIf="f.invalid && f.dirty"  class="alert alert-danger">
    Preencha todos os campos corretamente!
    
  </div> -->
  
  
  <section class="content-header">
    <h1>
      Cadastro
      <small>Núcleos</small>
    </h1>
    
  </section>
  
  <!--   
    <section class="content">
      
      <div class="row">
        
        <div class="col-md-12">
           <div class="box box-primary">
          <div class="nav-tabs-custom">
            <div class="tab-content">
              <div class="ui-g">
              </div>
            </div>
            </div>
          </div>
        </div>
      </div> -->
      
      
      
      <section class="content">
        
        <div class="row">
          
          <div class="col-md-12">
            <div class="box box-primary">
              <div class="nav-tabs-custom">
                <div class="tab-content">
                  <!-- form -->
                  
                  <form   autocomplete="off" #f="ngForm" (ngSubmit)="onSubimit(f)">
                    <div class="ui-g">
                      <div class="ui-g-12">
                        
                        <!-- nucleo -->
                        <div class="form-group has-danger" class="ui-g-12 ui-md-6 ui-lg-5 ui-fluid">
                          <span class="ui-float-label">
                            <input  autocomplete="off" #nucleo="ngModel" name="nucleo"   type="text"  pInputText [ngModel]="nucleo.nucleo" (click)="clear()" required minlength="10"> 
                            
                            <label class="nomeCampo" class="form-control-label" for="float-input"
                            *ngIf="nucleo.hasError('required') && nucleo.pristine ">Nome do Núcleo
                          </label>
                          <label class="nomeCampo" class="form-control-label" for="float-input" 
                          *ngIf="nucleo.hasError('required') && nucleo.dirty" style="color: red;"
                          >Obrigatório
                        </label>
                        <label class="nomeCampo" class="form-control-label" for="float-input" 
                        *ngIf="nucleo.hasError('minlength') && nucleo.dirty" style="color: red;"
                        >Mínimo: 10 caracteres
                      </label>
                      <label class="nomeCampo" class="form-control-label" for="float-input" 
                      *ngIf="nucleo.valid" style="color: rgb(6, 155, 6)"> Válido 
                    </label>
                  </span>
                  
                </div>
                
                <!-- responsavel -->
                <div  class="form-group" class="ui-g-12 ui-md-6 ui-lg-5 ui-fluid">
                  <span class="ui-float-label">
                    <input name="responsavel"  type="text"  pInputText #responsavel="ngModel" [ngModel]="nucleo.responsavel" required>  
                    <label class="nomeCampo" class="form-control-label" for="float-input"
                    *ngIf="responsavel.hasError('required') && responsavel.pristine "
                    >Responsável</label>
                    <label class="nomeCampo" class="form-control-label" for="float-input"
                    *ngIf="responsavel.hasError('required') && responsavel.dirty" style="color: red;"
                    >Obrigatório
                  </label>
                  <label class="nomeCampo" class="form-control-label" for="float-input"
                  *ngIf="responsavel.valid" style="color: rgb(6, 155, 6)"> Válido 
                </label>
              </span>  
            </div>
            
            <!-- data -->
            <div class="form-group" class="ui-g-12 ui-md-6 ui-lg-2 ui-fluid">
              <p-calendar [(ngModel)]="dataCadastro" dateFormat="dd/mm/yy" disabled="true" showButtonBar="true" [showIcon]="true" [locale]="pt" name="dataCadastro" [ngModel]="nucleo.dataCadastro">
              </p-calendar>
            </div>
            
            <!-- Cep -->
            <div class="form-group" class="ui-g-12 ui-md-6 ui-lg-10 ui-fluid">
              <span class="ui-float-label">
                <input name="cep"  type="text"  pInputText #cep="ngModel" [ngModel]="nucleo.cep" required (blur)="consultaCep(cep.value, f)"> 
                <label class="nomeCampo" class="form-control-label" for="float-input"
                *ngIf="cep.hasError('required') && cep.pristine "
                >CEP</label>
                <label class="nomeCampo" class="form-control-label" for="float-input"
                *ngIf="cep.hasError('required') && cep.dirty" style="color: red;"
                > Obrigatório
              </label>
              <label class="nomeCampo" class="form-control-label" for="float-input"
              *ngIf="cep.valid" style="color: rgb(6, 155, 6)"> Válido 
            </label>
          </span>
        </div>

         <!-- zona -->
         <div class="form-group" class="ui-g-12 ui-md-6 ui-lg-2">
          <span class="ui-float-label">
            <!-- <input name="zonaResidencial"  type="text"  pInputText #zonaResidencial="ngModel" [ngModel]="nucleo.zonaResidencial" required>  -->
            <p-dropdown [options]="zonas" [(ngModel)]="zonas" id="dropZona"
            name="zonaResidencial"  #zonaResidencial="ngModel" [ngModel]="nucleo.zonaResidencial"
           ></p-dropdown>
            
      </span>
    </div>
        
        <!-- endereco -->
        <div class="form-group" class="ui-g-12 ui-md-12 ui-lg-6 ui-fluid">
          <span class="ui-float-label">
            <input name="endereco"  type="text"  pInputText #endereco="ngModel" [ngModel]="nucleo.endereco" required> 
            <label class="nomeCampo" class="form-control-label" for="float-input"
            *ngIf="endereco.hasError('required') && endereco.pristine "
            >Endereço</label>
            <label class="nomeCampo" class="form-control-label" for="float-input"
            *ngIf="endereco.hasError('required') && endereco.dirty" style="color: red;"
            >Obrigatório
          </label>
          <label class="nomeCampo" class="form-control-label" for="float-input"
          *ngIf="endereco.valid" style="color: rgb(6, 155, 6)"> Válido 
        </label>
      </span>
      
    </div>
    
    <!-- complemento -->
    <div class="form-group" class="ui-g-9 ui-md-6 ui-lg-4 ui-fluid">
      <span class="ui-float-label">
        <input name="complemento"  type="text"  pInputText #complemento="ngModel" [ngModel]="nucleo.complemento" > 
        <label for="float-input">Complemento</label>
        
      </span>
      <!-- <div class="ui-float-label" class="msgError" *ngIf="complemento.hasError('required') && complemento.dirty" style="color: red;"> Campo Obrigatório</div>
        <div class="ui-float-label" *ngIf="complemento.valid" style="color: rgb(6, 155, 6)"> OK </div> -->
      </div>
      
      <!-- numero -->
      <div class="form-group" class="ui-g-3 ui-md-2 ui-lg-2 ui-fluid">
        <span class="ui-float-label">
          <input name="numero"  type="text"  pInputText #numero="ngModel" [ngModel]="nucleo.numero" required> 
          <label class="nomeCampo" class="form-control-label" for="float-input"
          *ngIf="numero.hasError('required') && numero.pristine "
          >Número</label>
          <label class="nomeCampo" class="form-control-label" for="float-input"
          *ngIf="numero.hasError('required') && numero.dirty" style="color: red;"
          >Obrigatório
        </label>
        <label class="nomeCampo" class="form-control-label" for="float-input"
        *ngIf="numero.valid" style="color: rgb(6, 155, 6)"> Válido 
      </label>
    </span>
  </div>
  
  <!-- bairro -->
  <div class="form-group" class="ui-g-4 ui-md-4 ui-lg-5 ui-fluid">
    <span class="ui-float-label">
      <input name="bairro" type="text"  pInputText #bairro="ngModel" [ngModel]="nucleo.bairro" required> 
      <label class="nomeCampo" class="form-control-label" for="float-input"
      *ngIf="bairro.hasError('required') && bairro.pristine "
      >Bairro</label>
      <label class="nomeCampo" class="form-control-label" for="float-input"
      *ngIf="bairro.hasError('required') && bairro.dirty" style="color: red;"
      >Obrigatório
    </label>
    <label class="nomeCampo" class="form-control-label" for="float-input"
    *ngIf="bairro.valid" style="color: rgb(6, 155, 6)"> Válido 
  </label>
</span>
</div>

<!-- cidade -->
<div class="form-group" class="ui-g-5 ui-md-6 ui-lg-5 ui-fluid">
  <span class="ui-float-label">
    <input name="cidade" type="text"  pInputText #cidade="ngModel" [ngModel]="nucleo.cidade" required> 
    <label class="nomeCampo" class="form-control-label" for="float-input"
    *ngIf="cidade.hasError('required') && cidade.pristine ">Cidade
  </label>
  <label class="nomeCampo" class="form-control-label" for="float-input"
  *ngIf="cidade.hasError('required') && cidade.dirty" style="color: red;">Obrigatório
</label>
<label class="nomeCampo" class="form-control-label" for="float-input"
*ngIf="cidade.valid" style="color: rgb(6, 155, 6)"> Válido 
</label>
</span>

</div>

<!-- uf -->
<div class="form-group" class="ui-g-3 ui-md-6 ui-lg-2 ui-fluid">
  <span class="ui-float-label">
    <input name="uf" id="float-input" type="text"  pInputText #uf="ngModel" [ngModel]="nucleo.uf" required> 
    <label class="nomeCampo" class="form-control-label" for="float-input"
    *ngIf="uf.hasError('required') && uf.pristine ">UF
  </label>
  <label class="nomeCampo" class="form-control-label" for="float-input"
  *ngIf="uf.hasError('required') && uf.dirty" style="color: red;">Obrigatório
</label>
<label class="nomeCampo" class="form-control-label" for="float-input"
*ngIf="uf.valid" style="color: rgb(6, 155, 6)"> Válido 
</label>
</span>

</div>

<br /><br />

<div class="ui-g-12 ui-md-12 ui-lg-2 ui-fluid">
  <button pButton type="button" label="Salvar" type="submit" class="ui-button-raised ui-button-primary" [disabled]="!f.valid"></button>
  
</div>
<div   class="ui-g-12 ui-md-12 ui-lg-2 ui-fluid">
  <button pButton type="button" label="Limpar" class="ui-button-raised ui-button-secondary"
  (click)="limpar(f)" (click)="clear()">
</button>
</div>
<div   class="ui-g-12 ui-md-12 ui-lg-2 ui-fluid">
  <button pButton routerLink="/nucleos-regionais" type="button" label="Voltar" class="ui-button-raised ui-button-danger"></button>
</div>
</div>

</div>

<div  class="ui-g-12 ui-md-12 ui-lg-12 ui-fluid"  >
  <p-toast position="bottom-right"></p-toast>
</div>

</form>
<!-- fim form -->
</div>
</div>
</div>
</div>



