#botaoAdd{
    float: right;
}
#eye{
    margin-right: 10px;
}

#eye :hover{
    color: red;
}
#pencil :hover{
    color: red;
}

#graduation-cap{
    margin-left: 10px; 
}

/* .busca{
    margin-bottom: -3%;
    display: block;
} */

.content-header{
    margin: 0 0 -30px 0;
}

