
<section class="content-header">
  <h1>
    Atualizar
    <small>{{nucleo.nucleo}}</small>
  </h1>
  
</section>



<section class="content">
  
  <div class="row">
    
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="nav-tabs-custom">
          <div class="tab-content">
            
            <div class="ui-g">
                
                <div class="ui-g-12 ui-md-6 ui-lg-5 ui-fluid">
                  <span class="ui-float-label">
                    <input  type="text"  pInputText  value="{{nucleo.nucleo}}" [(ngModel)]="nucleo.nucleo" > 
                    <label for="float-input">Núcleo</label>
                  </span>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-5 ui-fluid">
                    <span class="ui-float-label">
                      <input name="responsavel"  type="text"  pInputText value="{{nucleo.responsavel}}" [(ngModel)]="nucleo.responsavel" > 
                      <label for="float-input">Responsável</label>
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-2 ui-fluid">
                    <span class="ui-float-label">
                      <input name="data"  type="text"  pInputText value="{{nucleo.dataCadastro }} " [(ngModel)]="nucleo.data" disabled="true"> 
                      <label for="float-input">Data</label>
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-7 ui-fluid">
                    <span class="ui-float-label">
                      <input name="CEP"  type="text"  pInputText value="{{nucleo.cep}}" [(ngModel)]="nucleo.cep"> 
                      <label for="float-input">CEP</label>
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-12 ui-lg-6 ui-fluid">
                    <span class="ui-float-label">
                      <input name="endereco"  type="text"  pInputText value="{{nucleo.endereco}}" [(ngModel)]="nucleo.endereco"> 
                      <label for="float-input">Endereço</label>
                    </span>
                  </div>
                  <div class="ui-g-9 ui-md-6 ui-lg-4 ui-fluid">
                    <span class="ui-float-label">
                      <input name="complemento"  type="text"  pInputText value="{{nucleo.complemento}}" [(ngModel)]="nucleo.complemento"> 
                      <label for="float-input">Complento</label>
                    </span>
                  </div>
                  <div class="ui-g-3 ui-md-2 ui-lg-2 ui-fluid">
                    <span class="ui-float-label">
                      <input name="numero"  type="text"  pInputText value="{{nucleo.numero}}" [(ngModel)]="nucleo.numero" > 
                      <label for="float-input">Número</label>
                    </span>
                  </div>
                  <div class="ui-g-4 ui-md-4 ui-lg-5 ui-fluid">
                    <span class="ui-float-label">
                      <input name="bairro" type="text"  pInputText value="{{nucleo.bairro}}"[(ngModel)]="nucleo.bairro" > 
                      <label for="float-input">Bairro</label>
                    </span>
                  </div>
                  <div class="ui-g-5 ui-md-6 ui-lg-5 ui-fluid">
                    <span class="ui-float-label">
                      <input name="cidade" type="text"  pInputText value="{{nucleo.cidade}}" [(ngModel)]="nucleo.cidade" > 
                      <label for="float-input">Cidade</label>
                    </span>
                  </div>
                  <div class="ui-g-3 ui-md-6 ui-lg-2 ui-fluid">
                    <span class="ui-float-label">
                      <input name="UF" id="float-input" type="text"  pInputText value="{{nucleo.uf}}" [(ngModel)]="nucleo.uf">  
                      <label for="float-input">UF</label>
                    </span>
                  </div>
                  <br /><br />
                  <div class="ui-g-12 ui-md-12 ui-lg-2 ui-fluid">
                    <button pButton type="button" label="Atualizar" class="ui-button-raised ui-button-primary"
                    (click)="atualizar(nucleo)"></button>
                  </div>
                  
                  <div class="ui-g-12 ui-md-12 ui-lg-2 ui-fluid">
                    <button routerLink="/nucleos-regionais" pButton type="button" label="Voltar" class="ui-button-raised ui-button-secondary"></button>
                  </div>

                
            </div>
            
          </div>

          <div  class="ui-g-12 ui-md-12 ui-lg-12 ui-fluid"  >
            <p-toast position="bottom-right"></p-toast>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>











<!-- <input  value="{{nucleo.nucleo}}" [(ngModel)]="nucleo.nucleo">
  
  <button (click)="atualizar(nucleo)" value="atualizar" class="primary"></button>
  
-->





