<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i> Opss! Página não encontrada.</h3>

        <p>
           Não foi possível encontrar a página que você estava procurando.
         </p>
        <p>Por favor tente novamente ou retorne ao <button routerLink="/" pButton type="button" label="DASHBOARD" class="ui-button-raised ui-button-rounded"></button>  </p>
        
        


    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>