<div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{servidores}}</h3>

          <p>Servidores</p>
        </div>
        <div class="icon">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <a  routerLink="/servidores" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{alunos}}</h3>

          <p>Alunos</p>
        </div>
        <div class="icon">
          <i class="fa fa-users lg" aria-hidden="true"></i>
        </div>
        <a  routerLink="/alunos" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{unidades}}</h3>

          <p>Unidades Educacionais</p>
        </div>
        <div class="icon">
          <i class="fa fa-cubes" aria-hidden="true"></i>
        </div>
        <a  routerLink="/unidades-educacionais" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>{{eventos}}</h3>

          <p>Eventos</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a routerLink="/eventos" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>


  